.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px 1fr 30px;
}

@media (max-width: 600px) {
  .App {
    display: grid;
    grid-template-areas:
      'navbar content'
      'navbar content'
      'footer content';
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 40px 1fr;

    
  }

  #navbar {
    grid-area: navbar;
    flex-direction: column;
    display: block;
    position: fixed;
    top: 0;
  }

  .content {
    grid-area: content;
    margin-left: 30px;
  }

  .footer {
    grid-area: footer;
    justify-self: center;
    position: fixed;
    bottom: 10%;
    width: 40px;
  }
}
