.blog {
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: block;
}

.blog-img {
    max-height: 500px;
    max-width: 600px;
    height: auto;
    width: auto;
    margin: auto;
    display: block;
}

.post-title-link {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid red;
}