---
---

@import 'lazysize';
@import 'icomoon';
@import 'nunito_sans';
@import 'navbar';
@import 'connect';
@import 'portfolio';
@import 'blog';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'nunito_sans_regular';
}

#page-content {
  padding-top: 30px;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.active {
  border-bottom: 2px solid red;
}

.home {
  text-align: center;
  margin-top: 30%;
  font-family: 'nunito_sans_extralight';
  font-size: 5em;
  color: red;
}

@media (max-width: 600px) {
  #page-content {
    font-size: 1.2em;
  }

  .home {
    font-size: 3em;
  }
}