@font-face {
    font-family: 'nunito_sans_extralight';
    src: url('fonts/nunitosans-extralight.eot');
    src: url('fonts/nunitosans-extralight.eot?#iefix') format('embedded-opentype'),
         url('fonts/nunitosans-extralight.woff2') format('woff2'),
         url('fonts/nunitosans-extralight.woff') format('woff'),
         url('fonts/nunitosans-extralight.ttf') format('truetype'),
         url('fonts/nunitosans-extralight.svg#nunito_sans_extralightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunito_sans_regular';
    src: url('fonts/nunitosans-regular.eot');
    src: url('fonts/nunitosans-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/nunitosans-regular.woff2') format('woff2'),
         url('fonts/nunitosans-regular.woff') format('woff'),
         url('fonts/nunitosans-regular.ttf') format('truetype'),
         url('fonts/nunitosans-regular.svg#nunito_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}