---
permalink: "/portfolio/"
layout: default
title: Portfolio
---
<div class="portfolio">

  <div id="portfolio-filter">
    <button class="btn active-filter" onclick="filterSelection('all')">All</button>
    <button class="btn" onclick="filterSelection('artwork')">Art</button>
    <button class="btn" onclick="filterSelection('print')">Print</button>
    <button class="btn" onclick="filterSelection('website')">Web</button>
    <button class="btn" onclick="filterSelection('logo')">Logos</button>
  </div>

  {% include portfolio_item.html

    type="artwork"
    
    title="Gorilla Lisa"

    image="images/portfolio/Gorilla_Lisa.jpg"

    alt="The Mona Lisa with a gorilla face"

    link="/images/portfolio/Gorilla_Lisa.jpg"

    description="I was playing around with GIMP 2.10 the other day and I came up with this. I think I'm most proud of making sure the face had the same texture as the painting. All I did was clone out the Mona Lisa's face, set the gorilla face layer to multiply, and then dodge the gorilla face to make it a little brighter to better match the rest of the painting. I have this weird feeling of pride and accomplishment with this picture so I had to place it first in my portfolio."

  %}

  {% include portfolio_item.html

    type="print"

    title="Scorpion Fluorescence Research Poster"

    image="images/portfolio/scorpion_poster_final_updated.jpg"
    
    alt="Research poster on scorpion fluorescence"
    
    link="/images/portfolio/scorpion_poster_final_updated.jpg"
    
    description="For much of my time at BYU I did research on scorpion fluorescence, or their ability to 'glow' under a blacklight. I made this research poster to present our research and won first prize in a poster competition hosted by the university's library. This poster was very much a collaborative project. Jeff Macedone, my primary mentor on the project, taught me a lot about keeping the word count and jargon to a minimum to attract viewers and capturing attention with striking graphics. But at the same time we needed enough information to communicate what we did and what we found out. Unfortunately we weren't able to get a paper published because we ended up having too few data points to account for all the assorted variables. Hopefully this project will get finished out someday though."

  %}

  {% include portfolio_item.html 

    type="website"
    
    title="Concept Site for Dissidence Reno"
    
    image="images/portfolio/dissidence_screenshot.png"
    
    alt="Screenshot of the Dissidence Reno mock site"
    
    link="https://dissidence-reno.netlify.com"
    
    description="As practice I thought it would be fun to design a mock website for my cousin's band Dissidence. They describe themselves as 'anarchist-charged crust meets death metal' so I wanted to try and make a website with that sort of feeling. I kept the color scheme black and white and I choose some grungy looking fonts. I took their logo, vectorized it so I could make a higher resolution version, and then I added a glitch effect. Once again I used Jekyll but this time the site is hosted on Netlify."

  %}

  {% include portfolio_item.html 

    type="website"
    
    title="My Previous Personal Website"
    
    image="images/portfolio/old_website_screenshot.png"
    
    alt="Screenshot of my old static website"
    
    link="https://emptyport.github.io"
    
    description="My previous personal website is a simple static website. I wanted to go with something bright and simple so the layout I went with was five separate tabs, each with a different background color. On the technical side of things I used Jekyll to generate the finished pages and it is hosted on GitHub pages."

  %}

  {% include portfolio_item.html 

    type="website"
    
    title="Website for the Age and Integrative Medicine Society"
    
    image="images/portfolio/aims_screenshot.png"
    
    alt="Screenshot of the Age and Integrative Medicine Society website"
    
    link="https://www.aimshigher.org"
    
    description="This website design was part of a rebranding effort for a non-profit. I started with a logo refresh, moving from an altered stock logo to something more clean looking. I kept the colors, blue and green, but simplified the logo and kept it nice and simple. From there I tackled the website. It is a WordPress website so I stuck with that. I found a new theme, customized it, and then updated the social media profiles to match. None of the theme customizations actually involved any of the underlying code; I just used the visual customizer and added a little custom CSS. The site still doesn't score great on Google PageSpeed Insights, but it's doing better and I'm slowly adding in improvements."

  %}

  {% include portfolio_item.html 

    type="print"
    
    title="Brochure for the Age and Integrative Medicine Society"
    
    image="images/portfolio/AIMS_brochure_winter_2019.jpg"
    
    alt="Copy of the AIMS brochure"
    
    link="/images/portfolio/AIMS_brochure_winter_2019.jpg"
    
    description="To go along with the new website for the Age and Integrative Medicine Society, I designed a brochure to help increase awareness of their mission and hopefully get some donations. I hit up some free stock image websites to get all the portraits and then setup the photo grid. The idea behind the grid is to help show that aging is universal and it affects all of us."

  %}

  {% include portfolio_item.html 

    type="logo"

    title="Scoop on Skin podcast logo"

    image="images/portfolio/scoop_on_skin.png"

    alt="Logo for the Scoop on Skin podcast"

    link="/blog/scoop-on-skin-design-process"

    description="For this logo I was given a sketch and a screenshot of some brainteasers to work off of. I came up with some variations of the logo and this is the version the client ultimately choose. For a breakdown of the whole process, click on the above link."
    
  %}


  <noscript>
    <style>
      .portfolio-item {
        display: block;
      }  
    </style>
  </noscript>

</div>

<script src="/js/portfolio.js"></script>

