#contact {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    font-size: 1.3em;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form-item {
    width: 500px;
    padding: 10px;
    align-self: center;
    margin: 3px;
    font-size: 24px;
    border-radius: 30px;
    border: 2px solid darkgray;
}

#contact-form-button {
    background-color: rgb(37, 105, 231);
    color: white;
    border: none;
}

#contact-form-textarea {
    height: 300px;
}

#hidden-input {
    display: none;
}

@media (max-width: 600px) {
    #contact {
        margin-left: 5%;
        margin-right: 5%;
    }

    .contact-form-item {
        width: 80%;
    }
}