#home {
    margin-top: 20px;
    font-size: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #CF3721;
    background-color: white;
    height: 100%;
    font-family: 'Nunito';
}

.home-item {
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    #home {
        margin-top: 0px;
        font-size: 1em;
    }
}