#home {
    margin-top: 20px;
    font-size: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #CF3721;
    background-color: white;
    height: 100%;
    font-family: 'Nunito';
    align-items: center;
}

.home-item {
    margin-bottom: 20px;
}

#home-video {
    width: 50%;
    max-height: 600px;
}

@media (max-width: 600px) {
    #home {
        margin-top: 0px;
        font-size: 1em;
    }

    #home-video {
        width: 100%;
    }
}