#portfolio {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 40px;
    font-size: 24px;
}

.portfolio-item {
    width: 100%;
    margin-bottom: 50px;
}

.portfolio-item-title {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.portfolio-item-image {
    width: 50%;
    margin: auto;
    display: block;
}

.portfolio-item-description {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
}

.portfolio-item-link {
    margin-left: 25%;
    margin-right: 25%;
}

@media (max-width: 600px) {
    .portfolio-item-title {
        font-size: 1.4em;
        margin-left: 5%;
        margin-right: 5%;
    }

    .portfolio-item-image {
        width: 90%;
    }

    .portfolio-item-description {
        margin-left: 5%;
        margin-right: 5%;
    }

    .portfolio-item-link {
        margin-left: 5%;
        margin-right: 5%;
    }
}